html, body {
    margin: 0;       /* Remove default margin */
    padding: 0;      /* Remove default padding */
    width: 100%;     /* Ensure full width */
    height: 100%;    /* Ensure full height */
    box-sizing: border-box; /* Optional but helps with sizing */
  }

/* Override DataTable header and cells styling */
.custom-data-table .rdt_TableHead {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: bold;
}

.custom-data-table .rdt_TableCol {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
}
